.contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.caja1 {
    grid-column: 2;
    grid-row: 1;
    background-color: orange;
    border: solid black;
    width: 100px;
    height: 100px;
}